*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body{
    text-align: center;
    font-family: sans-serif;
}
nav{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5%;
    
    background-color: rgb(83, 37, 37);
    
}

nav .logo{
    float: left;
    width: 40%;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
   
}

nav .list{
    float: right;
    padding: 0;
    margin-top: 15px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .list li{
    list-style: none;
}

nav .list a{
display: block;
text-transform: uppercase;
padding: 15px 25px;
font-size: 18px;
font-weight: bold;
color: rgb(255, 255, 255);
text-decoration: none;
border-radius: 25px;
transition: all 0.3s;

}

nav .list a:hover{
    background-color: rgb(209, 119, 119);
}

#toogle{
    position: absolute;
    top: -100px;
}

nav .icon-bars{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-bars .line{
    width: 30px;
    height: 5px;
    background-color: rgb(248, 247, 247);
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}
nav .logo{
    margin-top: 25px;
    width: 40px;
    height: 40px;
    margin-bottom: 25px;
   
}
nav .logo img{
    width: 60px;
    height: 60px;
    border-radius: 25px;
    margin-bottom: 10px;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background: rgb(83, 37, 37);
    position: fixed;
    width: 100%;
    z-index: 100;
 
}
.head img{
    height: 50px;
    width: auto;
    transition: all 0.3s;
    border-radius: 10px;



}

.head img:hover{
    transform: scale(1.2);



}




.logo{
    margin-left: 30px;

}
.logo a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: url(afuera3.PNG) no-repeat center ;
    background-size: cover;
   
    
}
.titulo, .titulon2{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}
.titulon2{
    margin: 30px auto 10px;
    font-size: 30px;
    font-weight: 600;
}
p{
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}
.boton{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid rgb(114, 3, 21);
    text-decoration: none;
    color: #fff;
    background: #7b3939;
    border-radius: 10px;
    transition: all 0.3s;
    
}
.boton:hover{
    background: none;
}
.content {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inf{
    padding: 50px 0;
    background: rgb(63, 27, 16);
   
}
.inf img{
    border-radius: 20px;
}

@media (max-width: 768px){
    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .list{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgb(78, 31, 31);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav .ist a{
        font-size: 20px;
    }

    nav :checked ~ .list{
        bottom: 0;
    }

    nav .icon-bars{
        display: block;
    }






    .contenedor{
flex-direction: column;
justify-content: space-between;
align-items: center;

    }

   

}

@media (max-width: 768px){
    .titulo{
        font-size:40px;
        margin: 10px;
    }
    .titulon2{
        font-size: 20px;
        padding: 10%;
    }
    .inf img{
        width: 370px;
    }

}
